<div class="container">
    <div class="row">
        <div class="col-4 offset-md-4">
            <div class="mt-5 mb-3 d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="sendHTTP300()">Send HTTP request that returns a code 300</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP301()">Send HTTP request that returns a code 301</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP302()">Send HTTP request that returns a code 302</button>
            </div>
        </div>
    </div>
</div>