<div class="container">
    <div class="row">
        <div class="col-4 offset-md-4">
            <div class="mt-5 mb-3">
                <label class="form-label">User</label>
                <input type="text" class="form-control" [(ngModel)]="user">
            </div>
            <button type="button" class="btn btn-success" (click)="saveUser()">Save</button>
            <button type="button" class="btn btn-danger m-1" (click)="cleanUser()">Clean User</button>
        </div>
    </div>
</div>