<div class="container">
    <div class="row">
        <div class="col-4 offset-md-4">
            <div class="mt-5 mb-3 d-grid gap-2">
                <button type="button" class="btn btn-success" (click)="sendHTTP200()">Send HTTP request that returns a code 200</button>
                <button type="button" class="btn btn-success" (click)="sendHTTP201()">Send HTTP request that returns a code 201</button>
                <button type="button" class="btn btn-success" (click)="sendHTTP202()">Send HTTP request that returns a code 202</button>
            </div>
        </div>
    </div>
</div>