<div class="container">
    <div class="row">
        <div class="col-4 offset-md-4">
            <div class="mt-5 mb-3 d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="sendHTTP500()">Send HTTP request that returns a code 500</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP501()">Send HTTP request that returns a code 501</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP502()">Send HTTP request that returns a code 502</button>
            </div>
        </div>
    </div>
</div>