<div class="container">
    <div class="row">
        <div class="col-4 offset-md-4">
            <div class="mt-5 mb-3 d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="sendHTTP400()">Send HTTP request that returns a code 400</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP401()">Send HTTP request that returns a code 401</button>
                <button type="button" class="btn btn-primary" (click)="sendHTTP402()">Send HTTP request that returns a code 402</button>
            </div>
        </div>
    </div>
</div>